<h1>Datos Personales</h1>



{{#each productos}}
           
<ul>
    <li>{{tittle}}</li>
    <li>{{price}}</li>
    <li>{{thumbnail}}</li>
    <li>{{id}}</li>
    
    
</ul>

{{/each}}